.App {
  display:flex;
  align-content: center;
  color: white;
  background-color: #CA0D0D;
  height: 30vh;
  justify-content: center;
  font-size: 300%;
  
  

}




.Background{background-image:url("https://i.imgur.com/eVcYPSa.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1080px;
  
  
}

.Parent{
position:relative;



}
.header{
  align-content: center;

}

.contain{
display: flex;
margin: auto;
flex-wrap: wrap;
justify-content: space-around;
width: 70vw;
height: 60vh;
border-color: #2A8D21;
border-width: 10px;
border-style: solid;

}
.contained{
  
  margin: 30px;
  width: 80px;
  height: 80px;
  border-width: 5px;
  border-color: red;
  border-style:solid;
  
  
}
.buttons{
  margin: auto;
  text-align: center;
  padding: 50px;
  height: 30px;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  
}